.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

body {
  color: $text;
  overflow-x:hidden;
}

@media (max-width: 1025px) {
  body{
    background: url(../img/bg.jpg) no-repeat center 0;
    background-size: cover;
    background-attachment: fixed;
  }        
}