.about {
    background: url('../img/about-back.jpg') no-repeat 0 0;
    background-size: cover;
    background-color: $light;
    background-size: 100% 100%;
    color: $text-about;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 15.31% 10.2% 13.26% 10.2%;
    margin-top: 130px;
}

.about__header {
    position: relative;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
    padding-bottom: 16px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text-about;
    }
}

.about__text-wrapper {
    max-width: 370px;

    &:first-child {
        margin-right: 20px;
    }

    & p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        margin-top: 21px;
    }
}

.about__text-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1025px) {
    .about {
        margin-top: 13.27%;
    }
}

@media (max-width: 500px) {
    .about {
        margin-top: 0;
        padding: 90px 8px 85px 10px;
    }

    .about__header {
        font-size: 28px;
        line-height: 38px;

        &::after {
            bottom: 8px;
        }
    }

    .about__text-block {
        flex-direction: column;
        margin-top: 0;
    }

    .about__text-wrapper {
        max-width: 100%;

        & p {
            margin-top: 5px;
            margin-bottom: 18px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}