.collaborators {
    background: url('../img/collaboration-back.jpg') no-repeat 0 0;
    background-size: cover;
    background-color: $purple;
    color: $text;
    padding: 15.31% 16.33% 11.23% 10.2%;
    margin-top: 13.27%;
    margin-bottom: 13.27%;

}

.collaborators__header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
}

.collaborators__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 77px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.collaborators__role {
    color: rgba(255, 245, 218, 0.7);
    margin: 5px 0 0 0;
}

.collaborators__name {
    position: relative;

    margin: 0;
    &::after {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }

    &--width {
        &::after {
            position: absolute;
            content: "";
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 310px;
            background-color: $text;
        }
    }
}

.collaborators__item {
    min-width: 310px;
    margin-bottom: 41px;
}