.collaborators {
    background: url('../img/collaboration-back.jpg') no-repeat 0 0;
    background-size: cover;
    background-color: $purple;
    color: $text;
    padding: 15.31% 16.33% 11.23% 10.2%;
    margin-top: 13.27%;
    margin-bottom: 13.27%;

}

.collaborators__header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin: 0;
}

.collaborators__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 77px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.collaborators__role {
    color: rgba(255, 245, 218, 0.7);
    margin: 5px 0 0 0;
}

.collaborators__name {
    position: relative;

    margin: 0;
    &::after {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }

    &--width {
        &::after {
            position: absolute;
            content: "";
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 310px;
            background-color: $text;
        }
    }
}

.collaborators__item {
    min-width: 310px;
    margin-bottom: 41px;
}

@media (max-width: 843px) {
    .collaborators__item {
        margin-bottom: 46px;

        &:first-child {
            order: -1;
        }

        &:nth-child(3) {
            order: 0;
        }

        &:nth-child(5) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(4) {
            order: 3;
        }
        &:nth-child(6) {
            order: 4;
        }

        &:last-child {
            order: 7;
        }
    }
}

@media (max-width: 500px) {
    .collaborators {
        margin-top: 113px;
        margin-bottom: 113px;
        padding: 30px 10px 20px 10px;
    }

    .collaborators__header {
        font-size: 28px;
        line-height: 38px;
    }

    .collaborators__list {
        font-size: 14px;
        line-height: 17px;
        margin-top: 25px;
    }

    .collaborators__name {
        padding-bottom: 5px;
        &::after {
            width: 185px;
        }
    
        &--width {
            &::after {
                width: 238px;
            }
        }
    }
}