.container {
  box-sizing: border-box;
  width: 100%;
  max-width: $desktop-large-width;
  //padding: 0 0 0 $desktop-padding;
  margin-left: auto;
  margin-top: 340px;
  position: relative;
  z-index: 2;
  outline: 1px solid blue;
  display: flex;
  flex-direction: column;
}


@include mobile {
}

.decor-wrapper {
  display: flex;
  flex-direction: column;
  background: url('../img/leaves.png') no-repeat 0 0;
  background-size: 100% 82%;
  background-color: $blue;
  position: relative;
  z-index: 1;
}