.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 50%;
  //padding: 0 0 0 $desktop-padding;
  margin-left: auto;
  margin-top: 360px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}


@include mobile {
}

.decor-wrapper {
  display: flex;
  flex-direction: column;
  background: url('../img/leaves.png') no-repeat 0 0;
  background-size: 100% 82%;
  background-color: $blue;
  position: relative;
  z-index: 1;

  &--nocolor {
    min-height: 1006px;
    background: url('../img/decor-one.jpg') 0 -900px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::after {
      content: "";
      background: url('../img/leaves-colloborators.png') repeat 0 -380px;
      background-size: 100% 160%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }
}

