.contacts {
    background-color: $light;
    background: url('../img/contacts-back.jpg') 0 0 no-repeat;
    color: $text-contact;
    padding-top: 117px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.contacts__header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 45px;
}

.contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contacts__value {
    position: relative;
    margin-bottom: 3px;

    &::after {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 170px;
        background-color: $text-contact;
    }
}

.contacts__item {
  margin-right: 12.5%;

  &:nth-child(2) {
    margin-right: 6%;

    .contacts__value {
        &::after {
            width: 165px;
        }
    }
  }

  &:last-child {
    margin-right: 0;

    .contacts__value {
        &::after {
            width: 150px;
        }
    }
  }
}

.contacts__type {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
}
