.discography {
    color: $text;
    padding: 10.2%;
    position: relative;
    z-index: 3;
}
.discography__header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 13px;
}

.discography__year,
.discography__name {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 2.55vw;
}

.discography__year {
    margin-right: 60px;
}


.discography__name {
    display: inline-block;
    max-width: 48%;
}
.discography__album-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
   
}

.discography__albums {
    list-style: none;
    margin: 0;
    padding: 0;
}

.discography__album {
    position: relative;
    padding: 48px 0;
    display: flex;
    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }

    &:last-child::after {
        display: none;
    }
    &--active {
        display: block;

        & .discography__year {
        margin-right: 42.35%;
        }
    }
}

.discography__album-songs {
    list-style: none;
    
}

.discography__album-song {
    margin-bottom: 18px;

    & a {
        display: block;
        color: $text;
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
    }
}
.discography__album-skin {
    margin-right: 10px;
    flex-shrink: 0;
    width: 340px;
    height: 340px;
    margin-bottom: 11px;
}

@media (max-width: 1967px) {
    .discography__album-skin{
        margin-bottom: 50px;
    }
}


@media (max-width: 1025px) {
    .discography__year,
    .discography__name {
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: normal;
        font-size: 3.51vw;
        line-height: 4.49vw;
    }

    .discography__album-skin {
        margin-right: 30px;

    }
    .discography__album {
        
        &--active {
    
            & .discography__year {
            margin-right: 335px;
            }
        }
    }
}
