.discography {
    color: $text;
    padding: 10.2%;
    position: relative;
    z-index: 3;
}

.discography__header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 13px;
}

.discography__year,
.discography__name {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 2.55vw;
}

.discography__year {
    margin-right: 60px;
}


.discography__name {
    display: inline-block;
    max-width: 48%;
}

.discography__album-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
   
}

.discography__albums {
    list-style: none;
    margin: 0;
    padding: 0;
}

.discography__link {
    display: flex;
    color: $text;
    text-decoration: none;
    width: 100%;
    padding: 48px 0;
    position: relative;
    z-index: 10;
}

.discography__album {
    position: relative;
    display: flex;

    &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }

    &::before {
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;
        height:100% ;
        width: 0;
        background-color: rgba(255,255,255,0.1);
    }

    &:last-child::after {
        display: none;
    }

    &:first-child::before {
        display: none;
    }

    &--active {
        display: block;

        & .discography__year {
        margin-right: 42.35%;
        }
    }
}

.discography__skin {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    opacity: 0;
    width: 30%;
    height: auto;
}

.discography__album-songs {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
}

.discography__album-song {
    // margin-bottom: 15px;

    & a {
        position: relative;
        padding: 7.5px 0;
        display: inline-block;
        color: $text;
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        width: auto;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,0.1);
            width: 0;
            height: 100%;
        }
    }
}

.discography__album-song:hover a {
    position: relative;
   

    &::after {
        transition: 1.5s ease;
        width: 110%;
    }
}

.discography__album-skin {
    margin-right: 40px;
    flex-shrink: 0;
    width: 340px;
    height: 340px;
    margin-bottom: 40px;
}

.discography__album:hover {

    & .discography__skin {
    transition: 3s ease;
    opacity: 1
    }

    &::before {
        transition: 0.7s ease;
        width: 59%;
    }

    &:last-child::before {
        transition: 1.5s ease;
        width: 71%;
    }
}

@media (max-width: 1642px) {
    .discography__album {
        &--active {
            display: block;
    
            & .discography__year {
            margin-right: 70px;
            }
        }
    }
}

@media (max-width: 1025px) {
    .discography__year,
    .discography__name {
        font-family: 'DM Serif Display', serif;
        font-style: italic;
        font-weight: normal;
        font-size: 3.51vw;
        line-height: 4.49vw;
    }

    .discography__album-skin {
        margin-right: 40px;
    }
    

    .discography__year {
        margin-left: 130px;
    }
    .discography__album {
        &--active {
    
            & .discography__year {
                margin-left: 0;
                margin-right: 305px;
            }
        }
    }
    .discography__skin {
        width: 100px;
        height: 100px;
        order: -1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }

    .discography__album:last-child {
        & .discography__name {
            margin-top: -20px;;
        }
    }

    .discography__album:hover {

        & .discography__skin {
        opacity: 1
        }
    
        &::before {
            width: 0;
        }
    
        &:last-child::before {
            width: 0;
        }
    }
    
}

@media (max-width: 858px) {
    .discography__album-skin {
        width: 250px;
        height: 250px;
    }

    .discography__album--active  {
        & .discography__year {
            margin-right: 230px;
        }
    }
}

@media (max-width: 745px) {
    .discography__album-songs {
        padding-left: 0;
    }

    .discography__album {
        &--active {
    
            & .discography__year {
                margin-left: 0;
                margin-right: 230px;
            }
        }
    }
}

@media (max-width: 695px) {
    .discography__album {
        &--active {
    
            & .discography__year {
                margin-right: 50px;
            }
        }
    }
}