#picture {
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/bg.jpg) no-repeat center 32%;
    background-size: 170% auto;
    z-index: 1;
}