#player {
    max-width: 500px;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 20px;
    left: 100px;
    z-index: 4;
    //background-color: rgba(255,255,255,0.4);
    background-color: transparent;
}

@media (max-width: 1025px) {
    #player {
        position: absolute;
        bottom: 13%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.player {
  background-color: transparent;
  font-family: "DM Serif Display";
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;





  div#list-screen {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: none; }

  div.player-header {
    background-color: #141920;
    padding: 15px;
    text-align: center;
    height: 25px;
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    font-family: "Lato", sans-serif; }


  div#player-bottom {
    padding-left: 55px;
    padding-right: 25px;
  display: flex;}
    div#player-bottom div#control-container {
      height: 60px;
      padding-top: 38px;
      padding-bottom: 15px;
    display: flex;
  margin-right: 70px;}
    div#player-bottom div#control-container div#prev-container {
      height: 60px;
      padding-top: 18px; }
      div#player-bottom div#control-container div#prev-container div#previous {
        background: url("../img/fbd-btn.svg") no-repeat center center;
        width: 40px;
        height: 24px;
        cursor: pointer;
        margin: auto;
      margin-right: 33px;}
    div#player-bottom div#control-container div#play-pause-container {
          height: 60px; }
      div#player-bottom div#control-container div#play-pause-container div#play-pause {
        width: 60px;
        height: 60px;

        cursor: pointer;
        margin: auto;
      margin-right: 33px;}
        div#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-playing {
          background: url("../img/pause-btn.svg") no-repeat center center; }
        div#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-paused {
          background: url("../img/play-btn.svg") no-repeat center center; }
    div#player-bottom div#control-container div#next-container {
      height: 60px;
      padding-top: 18px; }
      div#player-bottom div#control-container div#next-container div#next {
        background: url("../img/ffd-btn.svg") no-repeat center center;
        width: 40px;
        height: 24px;
        cursor: pointer;
        margin: auto; }
          div#player-bottom div#control-container div#repeat-container {
      float: left;
      width: 20%;
      height: 60px;
      padding-top: 20px; }
      div#player-bottom div#control-container div#repeat-container div#repeat {
        background: url("../img/fbd-btn.svg") no-repeat center center;
        width: 40px;
        height: 20px;
        cursor: pointer;
        margin: auto;
        opacity: 0.7; }
    div#player-bottom div#volume-container {
      padding-bottom: 20px;
      text-align: center;
    display: flex;
  align-items: center;
padding-top: 45px;}
      div#player-bottom div#volume-container img {
        display: block;
        float: left;
        margin-top: -9px; }


      input[type="range"].amplitude-volume-slider {
        width: calc(100% - 30px);
        -webkit-appearance: none;
        display: none;
        margin-left: 10px;
      background: transparent;
    height: 3px;
  border-bottom: 1px solid white;
outline: none;}


.volume-link {
  background:  url("../img/volume-btn.svg") no-repeat center center;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}
  .volume-link:hover+input[type="range"].amplitude-volume-slider {
    display: block;
  }

      .now-playing-name {
        max-width: 90%;
      }
      .meta-data-container {
        padding-left: 50px;
        padding-right: 30px;
      }

      /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
      input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        background-color: #9a905d;
        outline: none;
      }

      input[type='range']::-webkit-slider-runnable-track {
        height: 3px;
        -webkit-appearance: none;
        //color: #13bba4;
        margin-top: -1px;
        outline: none;
      }

      input[type='range']::-webkit-slider-thumb {
        width: 0px;
        -webkit-appearance: none;
        height: 3px;
        outline: none;
        //background: #434343;
        box-shadow: -80px 0 0 80px white;
      }

  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
    outline: none;
  }
  input[type="range"]::-moz-range-track {
    background-color: #9a905d;
    outline: none;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
    outline: none;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
    outline: none;
  }


  @-moz-document url-prefix() {
    div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
      margin-top: 0px; } }
  @supports (-ms-ime-align: auto) {
    div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
      margin-top: -4px;
      height: 30px;
      background-color: #192029 !important; } }
  @media all and (-ms-high-contrast: none) {
    div#player-bottom div#volume-container *::-ms-backdrop,
    div#flat-black-player-container div#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
      margin-top: -8px;
      background-color: #192029 !important;
      background: #192029 !important; } }


@media(max-width: 500px) {
  #player {
    max-width: 90%;
  }
  .meta-data-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  div#player-bottom {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
}
}

@media (max-width: 500px) {
  #player {
    display: none;
  }
}
