.promo {
    position: relative;
    padding: 15% 10.2% 5.1% 10.2%;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.promo__header {
   font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 3.03vw;
    line-height: 4.3vw;
    letter-spacing: 0.02em;
    margin: 0 0 9.39% 0;
    align-self: flex-start;
    max-width: 670px;
    position: relative;
    padding-bottom: 16px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }
}

.promo__blockquote,
.promo_blockquote-author {
    text-align: right;
    max-width: 527px;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.02em;
    align-self: flex-end;
    margin:0;

    & b {
        margin-top: 20px;
        display: block;
        letter-spacing: 0.04em;
    }
}

@media (max-width: 1025px) {
    .promo {
        padding: 14.64% 9.75% 4.88% 9.75%;
    }

    .promo__header {
        font-family: 'DM Serif Display';
         font-size: 5.85vw;
         line-height: 8vw;
         margin: 0 0 8.78% 0;
     }
}

@media (max-width: 500px) {
    .promo {
        padding: 42px 8px;
        padding-bottom: 128px;
    }

    .promo__header {
        font-size: 28px;
        line-height: 38px;
        max-width: 330px;
        margin-bottom: 50px;

        &::after {
            bottom: 4px;
            width: 150px;
        }
    }

    .promo__blockquote,
    .promo_blockquote-author {
        font-size: 12px;
        line-height: 14px;
        max-width: 270px;
    }

    .promo__blockquote {
        margin-bottom: 0px;
    }
}