.promo {
    position: relative;
    padding: 150px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.promo__header {
   font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.02em;
    margin: 0 0 92px 0;
    align-self: flex-start;
    max-width: 670px;
    position: relative;
    padding-bottom: 16px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 240px;
        background-color: $text;
    }
}

.promo__blockquote,
.promo_blockquote-author {
    text-align: right;
    max-width: 527px;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.02em;
    align-self: flex-end;
    margin:0;

    & b {
        margin-top: 20px;
        display: block;
        letter-spacing: 0.04em;
    }
}
