.subscribe {

    background: url('../img/contacts-back.jpg') no-repeat 0 -277px;
    background-color: #FFF5DA;
    background-size: cover;
    color: $text-contact;
    padding-left: 10.2%;
    padding-right: 10.2%;
    padding-top: 5.23%;
    padding-bottom: 15.5%;
}

.subscribe__header {
    font-family: 'DM Serif Display';
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 75px;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.subscribe__form-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.subscribe__form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.subscribe__form-input {
  border: none;
  border-bottom: 1px solid $text-contact;
  background-color: transparent;
  max-width: 370px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 22px;
  outline:none;

  color: $text-contact;

  &:focus {
    outline:none;
  }

  &::placeholder {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: $text-contact;
  }

  &--birthday {
    max-width: 170px;
  }
  &--zip {
    max-width: 90px;
  }
  &--phone {
    max-width: 170px;
  }
}

.subscribe__form-label {
  font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #8B8492;
}

.subscribe__submit {
  font-family: "DM Serif Display";
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  border: none;
  background: transparent;
  max-width: 72px;
//  width: 20%;
  text-align: left;
  padding-left: 0;
  color: $text-contact;
  border-bottom: 1px solid #230045;
  cursor: pointer;
}

.subscribe__alert {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.025em;

      & b {
        font-weight: 600;
      }
  color: #230045;
  width: 85%;
  max-width: 645px;
}
.subscribe__alert-link {
  color: #230045;
  font-weight: 600;

  &:visited {
    color: #230045;
  }
}

@media(max-width: 500px) {
  .subscribe {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
  }

  .subscribe__header {
    font-size: 24px;
line-height: 33px;
margin-top: 0;
margin-bottom: 35px;
  }

  .subscribe__form-item {
    margin-bottom: 16px;
  }

  .subscribe__form-input {
    font-weight: normal;
font-size: 14px;
line-height: 17px;
max-width: 129px;
padding-bottom: 1px;

&::placeholder {
  font-weight: normal;
font-size: 14px;
line-height: 17px;
}

&--zip {
  max-width: 89px;
}

&--phone {
  max-width: 168px;
}
  }

  .subscribe__form-label {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
  }

  .subscribe__form-list {
    margin-bottom: 13px;
  }

  .subscribe__alert {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;

    & b {
      font-weight: 500;
    }
  }
}
